[project]
name = "parser"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "bs4>=0.0.2",
    "curl-cffi>=0.14.0",
    "playwright>=1.58.0",
    "aiogram>=3.15.0",
]
